<div class="container-fluid">
    <div class="row p-2 mt-3">
        <div class="col-12">
            <div class="row justify-content-between align-items-center">
                <div class="col-11">
                    <h1 style="font-weight: bold;">Gestionar proyecto</h1>
                </div>
                <div class="col-1">
                    <img src="../../../../assets/imgs/logo-black.png" width="100px" alt="logo" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-12">
            <h4>Lista de errores reportados para editarlos o asignar a desarrolladores</h4>
        </div>
        <div class="col-12">
            <div class="row align-items-center">
                <div class="col-4">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label><i class="fas fa-filter mr-2"></i> Filtrar por prioridad:</mat-label>
                        <mat-select>
                            <mat-option (click)="filterPrioridad(prioridad.prioridad)" value={{prioridad.prioridad}} *ngFor="let prioridad of prioridades">
                                {{prioridad.prioridad}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label><i class="fas fa-filter mr-2"></i> Filtrar por asignación:</mat-label>
                        <mat-select>
                            <mat-option (click)="filterAsignacion(asign.id_asignaciones)" value="1" *ngFor="let asign of asignaciones" value={{asign.id_asignaciones}}>
                                {{asign.asignacion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row align-items-center">
                <div class="col-12 d-flex align-items-center">
                    <h1 class="title-list m-0">{{titleList}}</h1>
                    <span class="badge badge-custom ml-3">Filtrado: {{filtroSpan}}</span>
                </div>
            </div>
            <div class="divider mb-2"></div>
        </div>
        <div class="col-12">
            <div class="row justify-content-center mb-3 mt-2">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="row justify-content-center m-0">
                        <div class="col-2">
                            <h3 style="font-weight: bold;" class="m-0">Id</h3>
                        </div>
                        <div class="col-2">
                            <h3 style="font-weight: bold;" class="m-0"> Título</h3>
                        </div>
                        <div class="col-2">
                            <h3 style="font-weight: bold;" class="m-0 pl-2">Prioridad</h3>
                        </div>
                        <div class="col-4">
                            <h3 style="font-weight: bold;" class="m-0">Fecha de reporte</h3>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        <div class="col-12 error-list">
            <div class="row">
                <div class="col-10 text-center" *ngIf="erroresProyectoFiltrado.length <= 0">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <h1 style="font-weight: bold;">No hay errores</h1>
                        </div>
                        <div class="col-12">
                            <img src="../../../../assets/imgs/not-found-logo.png" alt="not found" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" *ngIf="erroresProyectoFiltrado.length > 0">
                <div class="col-10" *ngFor="let error of erroresProyectoFiltrado">
                    <div class="row mt-2">
                        <div class="col-10"  (click)="viewError(error)">
                            <div class="alert alert-dark" role="alert">
                                <div class="row justify-content-center align-items-center m-0 p-4">
                                    <div class="col-3">
                                        <h3 class="m-0"> <strong> Id: </strong> {{error.id_errores}} </h3>
                                    </div>
                                    <div class="col-3">
                                        <h3 class="m-0" data-toggle="tooltip" data-placement="top" title="Titulo del errror"> <i class="fa fa-file-signature mr-2" ></i> {{error.titulo_error}} </h3>
                                    </div>
                                    <div class="col-3">
                                        <h3 *ngIf="error.grado_prioridad == 'Baja'" class="m-0 badge badge-pill badge-custom baja" data-toggle="tooltip" data-placement="top" title="Prioridad del error"> <i class="fa fa-exclamation-circle mr-2"></i> <span>{{error.grado_prioridad}}</span> </h3>
                                        <h3 *ngIf="error.grado_prioridad == 'Media'" class="m-0 badge badge-pill badge-custom media" data-toggle="tooltip" data-placement="top" title="Prioridad del error"> <i class="fa fa-exclamation-circle mr-2"></i> <span>{{error.grado_prioridad}}</span> </h3>
                                        <h3 *ngIf="error.grado_prioridad == 'Alta'" class="m-0 badge badge-pill badge-custom alta" data-toggle="tooltip" data-placement="top" title="Prioridad del error"> <i class="fa fa-exclamation-circle mr-2"></i> <span>{{error.grado_prioridad}}</span> </h3>
                                        <h3 *ngIf="error.grado_prioridad == 'Blocxer'" class="m-0 badge badge-pill badge-custom blocker" data-toggle="tooltip" data-placement="top" title="Prioridad del error"> <i class="fa fa-exclamation-circle mr-2"></i> <span>{{error.grado_prioridad}}</span> </h3>
                                    </div>
                                    <div class="col-3">
                                        <h3 class="m-0 badge badge-pill badge-custom" data-toggle="tooltip" data-placement="top" title="Fecha de reporte"> <i class="fa fa-calendar mr-2"> </i> <span style="font-size: 14px;">{{error.fecha_reporte | date:'dd-MM-yyyy'}}</span> </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row align-items-center h-100 pb-3 justify-content-around">
                                <div class="col-4">
                                    <button class="btn btn-custom" (click)="openEdit(content, error)"> <i class="fa fa-edit"></i></button>
                                </div>
                                <div class="col-4" *ngIf="!error.id_errores_usuarios">
                                    <button class="btn btn-custom" (click)="openAsing(asignContent, error)"> <i class="fa fa-tasks"></i></button>
                                </div>
                                <div class="col-4" *ngIf="error.id_errores_usuarios">
                                    <button class="btn btn-custom" (click)="openEditDate(editContent, error)"> <i class="fa fa-calendar-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modals -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h1 class="modal-title" style="font-weight: bold;">Editar Error reportado</h1>
        <button class="close" type="button" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row justify-content-center mt-2 mb-2">
                <div class="col-6 d-flex align-items-center">
                    <h4 style="font-weight: bold; margin: 0; margin-right: 4px;">Autor:</h4>
                    <span>{{errorInfo.autor_reporte}}</span>
                </div>
                <div class="col-6 d-flex align-items-center">
                    <h4 style="font-weight: bold; margin: 0; margin-right: 4px;">Fecha de reporte:</h4>
                    <span>{{errorInfo.fecha_reporte | date:'dd-MM-yyyy'}}</span>
                </div>
            </div>
            <form [formGroup]="formError" class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill" style="width: 100%">
                        <mat-label>Nombre del error</mat-label>
                        <input matInput placeholder="Titulo del error" formControlName="titulo_error" autocomplete="off">
                        <mat-icon matSuffix>
                            <i class="fas fa-bug text-primary"></i>
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Prioridad del error</mat-label>
                        <mat-select formControlName="id_prioridades" autocomplete="off">
                            <mat-option value="1">Baja</mat-option>
                            <mat-option value="2">Media</mat-option>
                            <mat-option value="3">Alta</mat-option>
                            <mat-option value="4">Blocxer</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" style="width: 100%">
                        <mat-label># Número de iteraciones</mat-label>
                        <input matInput placeholder="Intentos para provocar el error" formControlName="iteraciones" autocomplete="off">
                        <mat-icon matSuffix>
                            <i class="fas fa-sync text-primary"></i>
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" style="width: 100%">
                        <mat-label>% del error</mat-label>
                        <input matInput placeholder="Porcentaje de las veces que el error aparece" formControlName="porcentaje_aparicion" autocomplete="off">
                        <mat-icon matSuffix>
                            <i class="fas fa-percentage text-primary"></i>
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" style="width: 100%">
                        <mat-label>Dispositivo de uso</mat-label>
                        <input matInput placeholder="Dispositivo en el que se probó" formControlName="dispositivo_uso" autocomplete="off">
                        <mat-icon matSuffix>
                            <i class="fas fa-mobile text-primary"></i>
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" style="width: 100%">
                        <mat-label>Rama en la que se encontro</mat-label>
                        <input matInput placeholder="Rama del repositorio en la que se encontro" formControlName="rama_repositorio" autocomplete="off">
                        <mat-icon matSuffix>
                            <i class="fas fa-code-branch text-primary"></i>
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="fill" style="width: 100%">
                        <mat-label>Fecha de reporte:</mat-label>
                        <input type="date" matInput formControlName="fecha_reporte" autocomplete="off">
                        <mat-icon matSuffix>
                            <i class="fas fa-calendar text-primary"></i>
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-12" *ngIf="errorInfo.fecha_de_entrega">
                    <mat-form-field appearance="fill" style="width: 100%">
                        <mat-label>Fecha de entrega:</mat-label>
                        <input type="date" matInput formControlName="fecha_de_entrega" autocomplete="off">
                        <mat-icon matSuffix>
                            <i class="fas fa-calendar text-primary"></i>
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Descripción</mat-label>
                        <textarea style="height: 100px; max-height: 300px; min-height: 100px;" matInput formControlName="descripcion" autocomplete="off" ></textarea>
                    </mat-form-field>
                </div>
                <div *ngIf="errorInfo.anexo" class="col-12 d-flex justify-content-center">
                    <img src= "{{ 'https://tecdevsmx.com' + errorInfo.anexo}}" class="img-fluid" width="200px" alt="anexo">
                </div>
                <div *ngIf="!errorInfo.anexo" class="col-12 d-flex justify-content-center">
                    <img src="../../../../assets/imgs/not-found-logo.png" class="img-fluid" width="200px" alt="anexo">
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-12 text-center">
            <button [disabled]="formError" mat-flat-button color="primary" style="width: 80%;" type="submit" (click)="editarErrorReportado()">EDITAR</button>
        </div>
    </div>
</ng-template>

<ng-template #asignContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h1 class="modal-title" style="font-weight: bold;">Asignar error reportado</h1>
        <button class="close" type="button" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form class="row" [formGroup]="formAsignarError">
                <div class="col-12 text-center mb-2">
                    <h2 style="font-weight: bold; margin: 0;">{{errorActual.titulo_error}}</h2>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center mb-2">
                    <h4 style="font-weight: bold; margin: 0;">Prioridad:</h4>
                    <span class="badge badge-custom d-inline ml-2">{{errorActual.grado_prioridad}}</span>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center mb-2">
                    <h4 style="font-weight: bold; margin: 0;">Id error:</h4>
                    <span class="badge badge-custom d-inline ml-2">{{errorActual.id_errores}}</span>
                </div>
                <div class="col-12 text-center">
                    <mat-form-field appearance="fill" style="width: 80%;">
                        <mat-label>Desarrollador:</mat-label>
                        <mat-select autocomplete="off" formControlName="id_usuarios">
                            <mat-option [value]="dev.id_usuarios" *ngFor="let dev of listaDesarrolladores">{{dev.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 text-center">
                    <mat-form-field appearance="fill" style="width: 80%">
                        <mat-label>Fecha de entrega:</mat-label>
                        <input matInput type="date"  autocomplete="off" formControlName="fecha_de_entrega">
                        <mat-icon matSuffix>
                            <i class="fas fa-calendar-day text-primary"></i>
                        </mat-icon>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-12 text-center">
            <button [disabled]="formAsignarError.invalid" mat-flat-button color="primary" style="width: 80%;" type="submit" (click)="asignarErrorReportado()">AIGNAR</button>
        </div>
    </div>
</ng-template>

<ng-template #editContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h1 class="modal-title" style="font-weight: bold;">Editar error asignado</h1>
        <button class="close" type="button" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form class="row" [formGroup]="formEditarAsignado">
                <div class="col-12 text-center mb-2">
                    <h2 style="font-weight: bold; margin: 0;">{{errorActual.titulo_error}}</h2>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center mb-2">
                    <h4 style="font-weight: bold; margin: 0;">Prioridad:</h4>
                    <span class="badge badge-custom d-inline ml-2">{{errorActual.grado_prioridad}}</span>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center mb-2">
                    <h4 style="font-weight: bold; margin: 0;">Id error:</h4>
                    <span class="badge badge-custom d-inline ml-2">{{errorActual.id_errores}}</span>
                </div>
                <div class="col-12 text-center">
                    <mat-form-field appearance="fill" style="width: 80%;">
                        <mat-label>Desarrollador:</mat-label>
                        <input matInput type="text"  autocomplete="off" formControlName="id_usuarios">
                        <mat-icon matSuffix>
                            <i class="fas fa-person-booth text-primary"></i>
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-12 text-center">
                    <mat-form-field appearance="fill" style="width: 80%">
                        <mat-label>Fecha de entrega:</mat-label>
                        <input matInput type="date"  autocomplete="off" formControlName="fecha_de_entrega">
                        <mat-icon matSuffix>
                            <i class="fas fa-calendar-day text-primary"></i>
                        </mat-icon>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-12 text-center">
            <button [disabled]="formEditarAsignado.invalid" mat-flat-button color="primary" style="width: 80%;" type="submit" (click)="editarErrorAsignado()">Editar</button>
        </div>
    </div>
</ng-template>
