<div class="container-fluid">
    <div class="row mt-4">
        <div style="padding-left: 5%;" class="col-10">
            <div class="titulo">
                Hola, <br>
                <div class="subtitulo">
                    {{secionlocal.user_name}}
                </div>
            </div>
        </div>
        <div style="padding-left: 5%;" class="col-2">
            <img src="../../../../../assets/imgs/logo-black.png" width="70px" />
        </div>
    </div>
    <div class="row" [formGroup]="actualizarinfo">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="row mt-5 justify-content-center align-items-center">
                        <div class="col-3 img" style=" margin: 0%;">
                            <figure (click)="openFile()">
                                <input #porfile type="file" style="display:none" (change)="updatePorfilePicture($event)">
                                <img *ngIf="!secionlocal.foto_perfil" class="img-fluid p-3" src="../../../../assets/imgs/not-found-logo.png" width="100px" alt="foto perfil"/>
                                <img *ngIf="secionlocal.foto_perfil" class="img-fluid p-3" src="{{ 'https://tecdevsmx.com' + secionlocal.foto_perfil}}" width="100px" alt="foto perfil"/>
                                <div class="capa"><a>
                                        <h1><i class="fas fa-camera"></i></h1>
                                        <p>Editar Foto de Perfil</p>
                                    </a>
                                </div>
                            </figure>
                        </div>
                        <div class="col-8">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Descripción</mat-label>
                                <textarea style="height: 200px; max-height: 200px; min-height: 100px;" matInput
                                    formControlName="descripcion" autocomplete="off"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 justify-content-center">
                <div class="col-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="mt-2">
                                <mat-form-field appearance="fill" style="width: 100%">
                                    <mat-label>Nombre de usuario</mat-label>
                                    <input type="text" matInput placeholder="Nombre del proyecto" formControlName="nombre"
                                        autocomplete="off">
                                    <mat-icon matSuffix>
                                        <i class="fas fa-signature text-custom"></i>
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mt-3">
                                <mat-form-field appearance="fill" style="width: 100%">
                                    <mat-label>Apellido paterno</mat-label>
                                    <input type="text" matInput placeholder="Apellido paterno" formControlName="apellido_paterno"
                                        autocomplete="off">
                                    <mat-icon matSuffix>
                                        <i class="fas fa-signature text-custom"></i>
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mt-3">
                                <mat-form-field appearance="fill" style="width: 100%">
                                    <mat-label>Apellido materno</mat-label>
                                    <input type="text" matInput placeholder="Apellido materno" formControlName="apellido_materno"
                                        autocomplete="off">
                                    <mat-icon matSuffix>
                                        <i class="fas fa-signature text-custom"></i>
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <form [formGroup]="actualizarinfo">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="mt-2">
                                    <mat-form-field appearance="fill" style="width: 100%">
                                        <mat-label>Nombre de usuario</mat-label>
                                        <input type="text" matInput placeholder="Nombre de usuario" formControlName="user_name"
                                            autocomplete="off">
                                        <mat-icon matSuffix>
                                            <i class="fas fa-user-alt text-custom"></i>
                                        </mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mt-3">
                                    <mat-form-field appearance="fill" style="width: 100%">
                                        <mat-label>Correo electronico</mat-label>
                                        <input type="text" matInput placeholder="Correo electronico" formControlName="correo"
                                            autocomplete="off">
                                        <mat-icon matSuffix>
                                            <i class="fas fa-at text-custom"></i>
                                        </mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mt-3">
                                    <mat-form-field appearance="fill" style="width: 100%">
                                        <mat-label>Contraseña</mat-label>
                                        <input type="text" type="password" matInput placeholder="Contraseña"
                                            formControlName="contrasenia" autocomplete="off">
                                        <mat-icon matSuffix>
                                            <i class="fas fa-lock text-custom"></i>
                                        </mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <button class="btn btn-custom " [disabled]="actualizarinfo.invalid"
                        (click)="_ActualizarInfo()">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
</div>