<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1 class="titulo">BIENVENIDO A <strong class="bug">BUG</strong><strong class="off">OFF</strong></h1>
        </div>
        <div class="col-12" style="margin-top: 5%;">
            <div class="row">
                <div class="col-lg-6 text-center col-md-12 mt-3" >
                    <img src="../../../../../assets/illustrations/undraw_teamwork_hpdk.svg" alt="logo" class="img-fluid mb-2" width="500px">
                </div>

                <div class="col-lg-6 col-md-12 ">
                    <div class="row text-center">
                        <p class="text-initial-min col-12">
                            Estas en <b>{{proyectInfo.nombre}}</b> con rol de <b>{{proyectInfo.area}}</b>
                        </p>
                        <div class="col-12 ">
                            <p class="text-initial-min"> ¿Qué deseas hacer?</p>
                        </div>
                        <div class="col-12">
                            <button routerLink="/app/lider/editar-proyecto" mat-flat-button color="primary" style="width: 50%;">Editar proyecto</button>
                        </div>
                        <div class="col-12 mb-2 mt-2 ">
                            <strong class="divider">o</strong>
                        </div>
                        <div class="col-12 " >
                            <button routerLink="/app/lider/gestionar-proyecto" mat-flat-button color="primary" style="width: 50%;">Gestionar proyecto</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>