<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1 class="titulo">BIENVENIDO A <strong class="bug">BUG</strong><strong class="off">OFF</strong></h1>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text-initial-min">
                        Estas en <b>{{proyectInfo.nombre}}</b> con rol de <b>{{proyectInfo.area}}</b>
                    </p>
                    <div class="col-12 text-center">
                        <p class="text-initial-min"> ¿Qué deseas hacer?</p>
                    </div>
                    <div class="col-12 text-center">
                        <button mat-flat-button color="primary" (click)="viewHistorial()" style="width: 50%;">Ver Historial de errores</button>
                    </div>
                </div>
                <div class="col-12 text-center mb-2 mt-2">
                    <strong class="divider">o</strong>
                </div>
                <div class="col-12 text-center">
                    <button mat-flat-button color="primary" (click)="toReportIssue()" style="width: 50%;">Reportar Error</button>
                </div>
            </div>
            <div class="col-12 text-center mt-3">
                <img src="../../../../../assets/imgs/sb-icon-logo.png" alt="logo" class="img-fluid mb-2" width="300px">
            </div>
        </div>
    </div>
</div>