<div class="titulo">
   
    <div class="l-form">
      
      <form action="datos" method="POST" class="form">
        <p>Crear proyecto</p>
        <hr class="linea">
        <div class="form_div">
          <input type="text" id="normal" class="form_input" placeholder="Nombre del proyecto" name="nombre-proyecto">
        </div>
        <br>
        <div class="form_div">
          <input type="text" id="normal" class="form_input" placeholder="Nombre del equipo" name="nombre-equipo">
        </div>
        <br>

        <div class="form_div">
          <input type="text" id="largo" max="30" class="form_input" placeholder="Descripción del proyecto" name="descripcion">
        </div>
        <br>

        <div class="form_div">
          <input type="text" id="normal" class="form_input" placeholder="Enlace a repositorios" name="enlace">
        </div>
        <br>
       
       
       


        <p>Crear proyecto</p>
        <hr class="linea">
        <div class="row">
        
          <div class="col-5">    </div>
          <div class="col-2"> <div class="imagen">
            <div class="div-file">
              <p class="img"><i class="icono far fa-images"></i>  </p>
              <p>Añadir imagen</p>
              <input type="file" id="btn-enviar">
            </div>
          </div></div>
          <div class="col-5">   </div>
        </div>




        <p>Añadir participantes</p>
        <hr class="linea">
     
         
          <div class="row">
        
            <div class="col-9">        <input type="text" id="normal2" class="form_input" placeholder="Nombre del proyecto" name="nombre-proyecto">
            </div>
            <div class="col-3 ">        <input type="text" id="normal3" class="form_input" placeholder="Nombre del proyecto" name="nombre-proyecto">
      
            </div>
          </div>

            <br>  
          <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"><button type="button" class="btn btn-success">Añadir participantes <i class="fas fa-plus"></i></button>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><button type="button"  class="btn btn-primary">Crear proyecto</button>
            <div class="col-4"></div>
          </div>





      </div>



      </form> 
    </div>
    
  </div>