<nav class="main-menu">
    <div>
        <div class="logo">
            <img src="../../../../../../assets/imgs/sb-icon-logo.png" width="28px" height="20px">
        </div>
    </div>

    <ul>
        <li>
            <a>
                <i class="fa fa-lg">RF</i>
                <span class="nav-text">Renato Fernandez</span>
            </a>
        </li>
        <li>
            <a routerLink="tester-home" routerLinkActive="Activate">
                <i class="fa fa-home fa-lg"></i>
                <span class="nav-text">Menu principal</span>
            </a>
        </li>
        <div class="settings">
            <p>Opciones</p>
        </div>
        <li>
            <a routerLink="tester-home">
                <i class="fa fa-home fa-lg"></i>
                <span class="nav-text">Menu principal</span>
            </a>
        </li>
        <li>
            <a routerLink="tester-historyTest">
                <i class="fa fa-vial fa-lg"></i>
                <span class="nav-text">Historial de Pruebas</span>
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-question fa-lg"></i>
                <span class="nav-text">Opcion 3</span>
            </a>
        </li>
    </ul>
</nav>