<div class="container-fluid p-4" *ngIf="errorInfo && infoAsignado && infoAutor">
    <div class="row mb-3">
        <div class="col-12 d-flex align-content-center">
            <button routerLink="/app/lider/gestionar-proyecto" class="btn-todos mr-3" style="height: 35px; font-weight: 500;"><i class="fas fa-arrow-left mr-1"></i>Volver </button>
            <h1 style="font-weight: bold;">Información del error</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row mb-3">
                <div class="col-12 d-flex align-items-center">
                    <h1 style="font-weight: bold; font-size: 30px; margin: 0;"> {{errorInfo.titulo_error}} </h1>
                    <div class="ml-auto">
                        <span class="badge badge-custom-danger mr-2" *ngIf="errorInfo.confirmado === 0">No confirmado</span>
                        <span class="badge badge-custom-success mr-2" *ngIf="errorInfo.confirmado === 1">Confirmado</span>
                    </div>
                </div>
                <div class="col-12">
                    <strong>Prioridad: </strong> <span class="badge badge-custom mt-2"> {{errorInfo.grado_prioridad}}</span>
                    <p id="fecha"> <strong>Fecha de reporte: </strong> <span class="badge badge-custom">{{errorInfo.fecha_reporte | date:'dd-MM-yyyy'}}</span> </p>
                    <p id="fecha" *ngIf="errorInfo.fecha_de_resolucion"> <strong>Fecha de resolucion: </strong> <span class="badge badge-custom" *ngIf="errorInfo.fecha_de_resolucion">{{errorInfo.fecha_de_resolucion | date:'dd-MM-yyyy'}}</span> </p>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-6 text-left">
                    <p id="responsable"> <strong>Autor: </strong> <span class="badge badge-custom">{{infoAutor.nombre}}</span> </p>
                </div>
                <div class="col-6 text-right">
                    <p id="responsable"> <strong>Responsable: </strong> <span class="badge badge-custom">{{infoAsignado.nombre}}</span> </p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <h3 style="font-weight: bold;">Descripción:</h3>
                </div>
                <div class="col-12">
                    <p class="descripcion">
                        {{errorInfo.descripcion}}
                    </p>    
                </div>
            </div>
        
            <div class="row p-3">
                <div class="col-6 d-flex justify-content-center">
                    <img class="img-fluid" src="../../../../assets/imgs/not-found-logo.png" alt="not found">
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col trabajo">
                            <p class="letrablanca">Rama en la que se trabajo</p>
                            <p class="letrablancagrande">{{errorInfo.rama_repositorio}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col trabajo">
                            <p class="letrablanca">Iteraciones</p>
                            <p class="letrablancagrande">{{errorInfo.iteraciones}}</p>
                        </div>
                        <div class="col trabajo">
                            <p class="letrablanca">% Aparecer</p>
                            <p class="letrablancagrande">{{errorInfo.porcentaje_aparicion}}</p>
                        </div>
                        <div class="col trabajo">
                            <p class="letrablanca">Dispositivo</p>
                            <p class="letrablancagrande">{{errorInfo.dispositivo_uso}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>