<div class="container-fluid p-3" *ngIf="errorInfo">
    <h1 style="font-weight: bold;">Información del error</h1>
    <p id="Nombre" style="font-size: 20px; font-weight: 500;">Catedral </p>
    <div class="Navegacion">
        <img src="../../../../assets/imgs/images.jpg" alt="" class="imgRedonda">
        <button routerLink="/app/leader/gestionar-proyecto" class="btn-todos" style="height: 35px; font-weight: 500;">Volver</button>
        <button routerLink="/app/leader/gestionar-proyecto" class="btn-mios" style="height: 35px; font-weight: 500;">Comentar</button>
    </div>
    <hr>
    <div class="row justify-content-around mb-3">
        <div class="col-4">
            <p id="titulo"> <strong>Titulo de error: </strong> {{errorInfo.titulo_error}} </p>
        </div>
        <div class="col-3">
            <p id="fecha"> <strong>Fecha de reporte: </strong>{{errorInfo.fecha_reporte | date:'dd-MM-yyyy'}} </p>
        </div>
        <div class="col-3">
            <p id="responsable"> <strong>Responsable: </strong>{{errorInfo.autor_reporte}} </p>
        </div>
        <div class="col-2">
            <div class="prioridad">
                <p class="letrablanca">{{errorInfo.grado_prioridad}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p class="descripcion">
                {{errorInfo.descripcion}}
            </p>    
        </div>
    </div>

    <div class="row p-3">
        <div class="col-6 foto">
            <img class="img-fluid" src="../../../../assets/imgs/not-found-logo.png" alt="not found">
        </div>
        <div class="col">
            <div class="row">
                <div class="col trabajo">
                    <p class="letrablanca">Rama en la que se trabajo</p>
                    <p class="letrablancagrande">{{errorInfo.rama_repositorio}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col trabajo">
                    <p class="letrablanca">Iteraciones</p>
                    <p class="letrablancagrande">{{errorInfo.iteraciones}}</p>
                </div>
                <div class="col trabajo">
                    <p class="letrablanca">% Aparecer</p>
                    <p class="letrablancagrande">{{errorInfo.porcentaje_aparicion}}</p>
                </div>
                <div class="col trabajo">
                    <p class="letrablanca">Dispositivo</p>
                    <p class="letrablancagrande">{{errorInfo.dispositivo_uso}}</p>
                </div>
            </div>
        </div>
    </div>
</div>