<div class="principalbody">
    <div class="dashboard" style="background-color: #1A303E;">
        <div class="" style="padding-top: 2rem; padding-bottom: 1rem; padding-right: 3rem; padding-left: 5rem;">
            <div class="baroptions col">
                <div class="row optionleft text-white">
                    <p style="font-weight: 700; font-size: 16pt;"> Dashboard </p>
                    <div class="btn-group dropright ml-3">
                        <button type="button" class="btn text-warning">
                          Kabuum
                        </button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="sr-only">Kabuum</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item">
                                <div class="row" style="display: flex; align-self: center; align-content: center; align-items: baseline;">
                                    <i class="fas fa-bug"></i>
                                    <p style="font-weight: 500; color: #1e272e; margin-left: 10px; margin-bottom: 10px;"> Kabuum </p>
                                </div>
                            </a>
                            <a class="dropdown-item">KFood</a>
                            <a class="dropdown-item">Watrmelon</a>
                        </div>
                    </div>
                </div>
                <div class="optionright mr-4">
                    <div class="row">
                        <button class="btn btn-primary ">
                            <i class="fas fa-cogs"></i>
                        </button>
                        <button class="btn btn-primary ml-3 mr-3">
                            <i class="fas fa-plus"></i>
                        </button>
                        <button class="btn btn-primary ">
                            <i class="fas fa-bell"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" style=" display: flex; justify-content: center;">
                <div class="col-lg-2 col-sm-6">
                    <div class="card-box bg-green">
                        <div class="inner">
                            <h3> 2 Tareas </h3>
                            <p> En proceso </p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-clock" aria-hidden="true"></i>
                        </div>
                        <a class="card-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="card-box bg-blue">
                        <div class="inner">
                            <h3> 2 Tareas </h3>
                            <p> Testing </p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-tasks" aria-hidden="true"></i>
                        </div>
                        <a class="card-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="card-box bg-orange">
                        <div class="inner">
                            <h3> 2 Tareas </h3>
                            <p> Actualizado </p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-sync-alt"></i>
                        </div>
                        <a class="card-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="card-box bg-teal">
                        <div class="inner">
                            <h3> 2 Tareas </h3>
                            <p> Abierto </p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <a class="card-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="card-box bg-red">
                        <div class="inner">
                            <h3> 2 Tareas </h3>
                            <p> Cerrado </p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-times-circle"></i>
                        </div>
                        <a class="card-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>