.example-header-image {
    background-image: url('https://image.freepik.com/free-vector/modern-abstract-papercut-style-elegant-background-design_1017-27240.jpg');
    background-size: cover;
}

.titles-right {
    font-weight: 700;
    font-size: 18pt;
    margin-left: 15px;
}