<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1 class="titulo">BIENVENIDO A <strong class="bug">BUG</strong><strong class="off">OFF</strong></h1>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text-initial">
                        Para comenzar es necesario crear un proyecto o seleccionar un proyecto ya existente.
                    </p>
                    <div class="col-12 text-center">
                        <p class="text-initial-min"> Seleccionar un proyecto</p>
                    </div>
                    <div class="col-12 text-center">
                        <mat-form-field appearance="fill" style="min-width: 50%;">
                            <mat-label>Seleccionar proyecto</mat-label>
                            <mat-select>
                                <mat-option (click)="selectProject(proyect)" *ngFor="let proyect of proyects" [value]="proyect.id_proyectos">
                                    {{proyect.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-12 text-center mb-2 mt-2">
                    <strong class="divider">o</strong>
                </div>
                <div class="col-12 text-center">
                    <p class="text-initial-min"> Crear un proyecto</p>
                </div>
                <div class="col-12 text-center">
                    <button mat-flat-button color="primary" routerLink="/app/usuario/crear-proyecto" style="width: 50%;">Crear proyecto</button>
                </div>
            </div>
            <div class="col-12 text-center mt-3">
                <img src="../../../../../assets/imgs/sb-icon-logo.png" alt="logo" class="img-fluid mb-2" width="300px">
            </div>
        </div>
    </div>
</div>