.alert {
    border: none;
    cursor: pointer;
    border-radius: 15px;
    background: #ffffff;
    box-shadow:  7px 7px 20px #dedede,
                -7px -7px 20px #ffffff;
    transition: all 0.4s ease 0s;
}
.alert:hover {
    background: linear-gradient(to left,#ffc43a, #fceccb);
}
.error-list {
    height: 500px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 13px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ffcf60;
        border-radius: 20px;
    }
    &-border {
        border-left: 4px solid #ffcf60;
    }

}
.badge-custom {
    font-weight: bold;
    background-color: #ffcf60;
    font-size: 15px;
    & > i {
        color: #302304;
    }
}