<div class="container-fluid error-list-border">
    <div class="row mt-4">
        <div style="padding-left: 5%;" class="col-lg-10 col-md-3">
            <h1> <strong> LISTA DE ERRORES </strong></h1>
            <div>
                <h4>Lista de errores que has reportado</h4>
            </div>
        </div>
    
        <div style="padding-left: 5%;" class="col-lg-2 col-md-3">
            <img src="../../../../../assets/imgs/logo-black.png" width="70px" />
        </div>
    </div>
    
    <div class="row text-center align-items-center">
        <div style="padding-left: 5%;" class="col-6">
            <mat-form-field appearance="fill">
                <mat-label><i class="fas fa-filter"></i> Ordenar por estado:</mat-label>
                <mat-select>
                    <mat-option (click)="selectEstado(estado.id_estados_errores)" *ngFor="let estado of estados" [value]="estado.id_estados_errores">
                        {{estado.estado}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div style="padding-right: 5%;" class="col-6">
            <mat-checkbox #v (change)="onChangeCb(v.checked)"><span style="font-weight: bold; font-size: 16px;">Confirmados</span></mat-checkbox>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row justify-content-center m-0">
                <div class="col-1">
                    <h3 style="font-weight: bold;" class="m-0">Id</h3>
                </div>
                <div class="col-3">
                    <h3 style="font-weight: bold;" class="m-0"> Título</h3>
                </div>
                <div class="col-3 pl-5">
                    <h3 style="font-weight: bold;" class="m-0 pl-2">Prioridad</h3>
                </div>
                <div class="col-3 pl-5">
                    <h3 style="font-weight: bold;" class="m-0">Fecha de reporte</h3>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row error-list" *ngIf="erroresFilter.length > 0">
        <div class="col-12">
            <div class="row mt-2" *ngFor="let error of erroresFilter">
                <div class="col-1">
            
                </div>
                <div class="col-lg-10">
                    <div class="alert alert-dark" role="alert" (click)="verError(error)">
                        <div class="row justify-content-center align-items-center m-0 p-4">
                            <div class="col-1">
                                <h3 class="m-0"> <strong> Id: </strong> {{error.id_errores}} </h3>
                            </div>
                            <div class="col-4">
                                <h3 class="m-0" data-toggle="tooltip" data-placement="top" title="Título del error"> <i class="fa fa-file-signature mr-2"></i> {{error.titulo_error}} </h3>
                            </div>
                            <div class="col-3">
                                <h3 *ngIf="error.grado_prioridad == 'Baja'" class="m-0 badge badge-pill badge-custom baja" data-toggle="tooltip" data-placement="top" title="Prioridad del error"> <i class="fa fa-exclamation-circle mr-2"></i> <span>{{error.grado_prioridad}}</span> </h3>
                                <h3 *ngIf="error.grado_prioridad == 'Media'" class="m-0 badge badge-pill badge-custom media" data-toggle="tooltip" data-placement="top" title="Prioridad del error"> <i class="fa fa-exclamation-circle mr-2"></i> <span>{{error.grado_prioridad}}</span> </h3>
                                <h3 *ngIf="error.grado_prioridad == 'Alta'" class="m-0 badge badge-pill badge-custom alta" data-toggle="tooltip" data-placement="top" title="Prioridad del error"> <i class="fa fa-exclamation-circle mr-2"></i> <span>{{error.grado_prioridad}}</span> </h3>
                                <h3 *ngIf="error.grado_prioridad == 'Blocxer'" class="m-0 badge badge-pill badge-custom blocker" data-toggle="tooltip" data-placement="top" title="Prioridad del error"> <i class="fa fa-exclamation-circle mr-2"></i> <span>{{error.grado_prioridad}}</span> </h3>
                            </div>
                            <div class="col-3">
                                <h3 class="m-0 badge badge-pill badge-custom" data-toggle="tooltip" data-placement="top" title="Fecha de reporte"> <i class="fa fa-calendar mr-2"> </i> <span style="font-size: 14px;">{{error.fecha_reporte | date:'dd-MM-yyyy'}}</span> </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="erroresFilter.length === 0">
        <div class="col-12 text-center">
            <h1 class="badge badge-warning" style="font-weight: bold;">La lista esta vacía</h1>
        </div>
        <div class="col-12 text-center">
            <img src="../../../../assets/imgs/not-found-logo.png" alt="not-found" class="img-fluid">
        </div>
    </div>
</div>