<div class="row" style="background-color: crimson; height: 100vh; margin: 0; display: flex;">

    <div class="col-7" style=" background-color: #1e272e;">
        <div class="row">
            <!-- Linea izquierda -->
            <div style="background-color: #F9C921; height: 100vh; margin: 0; display: flex; width: 5px;"></div>

            <div class="col-11" style="justify-content: center; position: relative;">
                <div class="" style=" width: 100%; height: 150 px; ">
                    <img src="../../../assets/imgs/LOGO.png" height="20" class="mt-4">
                    <!-- Corregir para mejor calidad -->
                </div>
                <div class="mt-5" style="height: 350px; align-content: center; justify-content: center;">
                    <div class="" style="padding-top: 150px; padding-left: 50px;">
                        <p style="width: 350px; font-size: 16px; font-weight: 400; color:#C8CABE;">La plataforma que miles de personas usan para oranizar y publicar errores de su proyecto para corregirlas rapidamente.</p>
                        <h3 style="width: 300px; font-weight: 700; color: white; padding-top: 15px;">Convierte tus errores en oportunidades de mejora.</h3>
                        <nav style="margin-left: 0;">
                            <ul>
                                <li type="button" routerLink="/register">
                                    Unirme Ahora
                                    <span></span><span></span><span></span><span></span>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="">
                    <img src="../../../assets/illustrations/undraw_Onboarding_re_6osc.svg" width="250px" height="500px" style="position: absolute; top: 0; right: 0;">
                    <!-- Corregir para mejor calidad -->
                </div>
            </div>
        </div>
    </div>

    <!-- LOGIN FORM -->
    <div class="col-5" style="background-color: #1A303E;  align-items: center;">
        <div class="container ml-2" style="height: 100vh; align-items: center; align-self: center; display: flex;">
            <div style="width: 100%;">
                <h2 style="color: white;"> <strong>INICIAR SESIÓN</strong> </h2>
                <small style="color: thistle;"> Ingresa la siguiente información.</small>
                <form autocomplete="off" style="width: 100%;" class="form-group" [formGroup]="formLogin">
                    <div class="form__group field mt-5" style="width: 100%;">
                        <input formControlName="correo" autocomplete="off" type="email" class="form__field" name="email" id='email' />
                        <label for="email" class="form__label">e-mail</label>
                    </div>
                    <div class="form__group field mt-5" style="width: 100%;">
                        <input formControlName="contrasenia" type="password" class="form__field" name="pass" id='pass' />
                        <label for="pass" class="form__label">Contraseña</label>
                    </div>
                    <div class="row ml-2 text-warning" style="width: 95%; justify-content: space-between;">
                        <div class="form-check">
                            <!-- <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              Recuerdame
                            </label> -->
                        </div>
                        <a [routerLink]="['/register']" style="color: chartreuse; font-weight: 600;" [routerLink]="['/recovery']"> ¿Problemas para ingresar? </a>
                    </div>
                    <div class="mt-4">
                        <button [routerLink]="['/tester']" class="btn btn-block btn-warning" style="height: 50px; font-weight: 600; color: white;" (click)="iniciar()"> Start coding now! </button>
                    </div>

                    <div class="mt-4">
                        <button [routerLink]="['/register']" class="btn btn-block btn-warning" style="height: 50px; font-weight: 600; color: white;">  Register </button>
                    </div>
                </form>
                <div class="mt-5" style="justify-content: center; align-items: center; align-self: center; width: 100%; display: flex;">
                    <p style="color: #C8CABE; font-weight: 400;"> O crea una cuenta con: </p>c
                </div>
                <div style="justify-content: center; align-items: center; align-self: center; width: 100%; display: flex;">
                    <button routerLink="/register" type="button" class="mt-0 btn btn-primary btn-lg" style="background-color: #162A36; border-color: lawngreen; border: 5px;">
                        <i class="fab fa-google text-warning"></i>
                        Google
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>