
  .profile-img {
	background-image: url('https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/60448348_2188457861222810_257805742654881792_o.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGzH1r1DSACU8LOsowxysLYql9H1etFXR6qX0fV60VdHvTLXZJvqsAJPT3T7YbHmSXUhGAb7m7Ur0381ijl1_D5&_nc_ohc=3G64s6a7mWcAX9bNj62&_nc_ht=scontent-lax3-1.xx&oh=bed06e39fbf83eb6c9808899e3d9b59e&oe=5FEF741E');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	border-radius: 50px 50px;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.bug-descripcion{
    border: 2px solid #FCB207; 
    width: 100%; 
    padding: 15px 12px 10px 12px; 
    border-radius: 5px; 
    margin-top: 25px;
}

.container {
	margin-left: 35px;
}
input {
	border-color: black;
}