<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar style="background-color: #1A303E;">
        <mat-toolbar-row>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <button mat-icon-button (click)="activateSide()"><mat-icon>menu</mat-icon></button>
            </button>
            <span>Dashboard</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon " style="background-color: blue;">
                <i class="fas fa-plus"></i>
            </button>
            <button mat-icon-button class="example-icon">
                <i class="fas fa-bell"></i>
            </button>
            <button mat-icon-button class="example-icon">
                <i class="fas fa-cogs"></i>
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row style="height: auto; ">
            <div class="row" style="width: 100%; display: flex; justify-content: center;">
                <div class="col-lg-2 col-sm-6">
                    <div class="card-box bg-green">
                        <div class="inner">
                            <h3> 2 Tareas </h3>
                            <p> En proceso </p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-tasks" aria-hidden="true"></i>
                        </div>
                        <a class="card-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="card-box bg-blue">
                        <div class="inner">
                            <h3> 2 Tareas </h3>
                            <p> Testing </p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-tasks" aria-hidden="true"></i>
                        </div>
                        <a class="card-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="card-box bg-orange">
                        <div class="inner">
                            <h3> 2 Tareas </h3>
                            <p> Actualizado </p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-sync-alt"></i>
                        </div>
                        <a class="card-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="card-box bg-teal">
                        <div class="inner">
                            <h3> 2 Tareas </h3>
                            <p> Abierto </p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <a class="card-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="card-box bg-red">
                        <div class="inner">
                            <h3> 2 Tareas </h3>
                            <p> Cerrado </p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-times-circle"></i>
                        </div>
                        <a class="card-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <app-sidebar [toggleside]="activate"></app-sidebar>

</div>