
.container {
    margin-top: 50px;
}

.saludo {
    height: 60px;
}
.nombre {
    height: 60px;
}
.saludo .saludo2 {
    font-weight: bold;
    color: rgb(0, 0, 146);
    font-size: 30px;
}
.nombre .nombre2 {
    font-weight: bold;
    color: rgb(230, 195, 0);
    font-size: 50px;
}
.img .imagen {
    border-radius: 20px;
    border-color: black;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

 .img figure{
    position: relative;
    overflow: hidden;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    cursor: pointer;
    border-radius: 20px;
}

.img figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.img figure .capa{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,103,123,0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.img figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.img figure:hover > .capa h1{
margin-top: 60px;
margin-bottom: 15px;
}

.img figure:hover > img{
    transform: scale(1.3);
}
.img figure .capa h1{
    color: #fff;
    font-weight: 350px;
    margin-bottom: 100px;
    transition: all 500ms ease-out;
    margin-top: 20px;
}

.img figure .capa p{
    color: #fff;
    font-size: 10px;
    line-height: 1.5;
    width: 100%;
    max-width: 200px;
    margin: auto;
}

.parrafo .descripcion {
    font-weight: bold;
    font-size: 14px;
    color: rgb(90, 90, 90);
}

.info {
    width: 450px;
}

.boton button {
    width: 100%;
    background-color: rgb(182, 155, 2);
    border-style: none;
}
.boton button:hover {
    background-color: rgb(160, 136, 0);
}

input {
    height: 45px;
    border-style: dashed;
}

.estadisticas {
    font-weight: bold;
    color: rgb(90, 90, 90);
    font-size: 19px;
}

.cuadro1 {

    border-radius: 20px;
    background-color: rgb(228, 172, 172);
    height: 180px;
}
.cuadro2 {

    border-radius: 20px;
    background-color: rgb(158, 219, 255);
    height: 180px;
}

.numero {
    font-weight: bold;
    font-size: 40px;
    color: rgb(63, 63, 63);
}
.margen {
    margin: 8%;
    height: 70%;
    width: 100%;
}

.campo{
    background-color: rgba(255, 217, 0, 0.301);
    border-color: rgba(107, 92, 5, 0.671);
    border-style: solid;
}

.titulo {
    font-size: 30px;
    font-weight: 600;
    color: rgb(56, 92, 87);
  }
  
  .subtitulo {
      margin-top: 2%;
    font-size: 50px;
    font-weight: 700;
    color: rgb(230, 195, 0);
  }

  .salto{
      margin-top: 3%;
  }
  .campo-descripcion{
    background-color: rgba(255, 217, 0, 0.301);
    border-color: rgba(107, 92, 5, 0.671);
    border-style: solid;
    height: 120px;
}
textarea {
    resize: none;
  }