<div class="container-fluid">
    <div class="row mt-4 align-items-center">
        <div style="padding-left: 2%;" class="col-11">
            <div class="titulo">
                <div class="subtitulo">
                    Editar proyecto
                </div>
            </div>
        </div>
        <div class="col-1">
            <img src="../../../../../assets/imgs/logo-black.png" width="70px"/>
        </div>
    </div>
    <div class="container-fluid container" *ngIf="proyectInfo" [formGroup]="formProyecto">
        <div class="row">
            <div class="col-4">
                <div class="row justify-content-center align-items-center h-100" >
                    <div class="col-12 img" style=" margin: 0%;">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-center" style="font-weight: bold;">Logo del proyecto</h3>
                            </div>
                            <div class="col-12">
                                <figure (click)="openFile()">
                                    <input #logo type="file" style="display:none" (change)="updateLogoProyect($event)">
                                    <img *ngIf="!proyectInfo.logo" class="img-fluid p-3" src="../../../../assets/imgs/sb-icon-logo.png" width="100px" alt="logo"/>
                                    <img *ngIf="proyectInfo.logo" class="img-fluid p-3" src="{{ 'https://tecdevsmx.com' + proyectInfo.logo}}" width="100px" alt="logo"/>
                                    <div class="capa">
                                        <a>
                                            <h1><i class="fas fa-camera"></i></h1>
                                            <p style="font-size: 15px;">Cambiar logo del proyecto</p>
                                        </a>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field appearance="fill" style="width: 100%">
                                    <mat-label>Nombre del proyecto</mat-label>
                                    <input matInput placeholder="Nombre del proyecto" formControlName="nombre" autocomplete="off">
                                    <mat-icon matSuffix>
                                        <i class="fas fa-signature text-custom"></i>
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-12">
                                <mat-form-field  appearance="fill" style="width: 100%;">
                                    <mat-label>Estado del proyecto:</mat-label>
                                    <mat-select formControlName="id_estados_proyectos" autocomplete="off">
                                        <mat-option value="1">Inicializado</mat-option>
                                        <mat-option value="2">Terminado</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12">
                                <mat-form-field appearance="fill" style="width: 100%">
                                    <mat-label>Repositorio del proyecto</mat-label>
                                    <input matInput placeholder="Repositorio del proyecto" formControlName="repositorio" autocomplete="off">
                                    <mat-icon matSuffix>
                                        <i class="fas fa-code-branch text-custom"></i>
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-12">
                                <mat-form-field appearance="fill" style="width: 100%;">
                                    <mat-label>Descripción</mat-label>
                                    <textarea style="height: 200px; max-height: 200px; min-height: 100px;" matInput formControlName="descripcion" autocomplete="off" ></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center mt-2 mb-3">
                <button mat-flat-button class="btn btn-custom" [disabled]="formProyecto.invalid" (click)="updateProyect()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>