<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [opened]="toggleside" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
            <mat-list-item style="margin-top: 20px; margin-right: 80px;">
                <button mat-icon-button>
                    <button mat-icon-button>
                        <i class="fas fa-user-circle"></i>
                    </button>
               </button>
                <a matLine routerLink="/crear-perfil"> Angel Catedral </a>
            </mat-list-item>
            <mat-list-item style="margin-top: 20px; margin-right: 80px;">
                <button mat-icon-button>
                  <mat-icon>info</mat-icon>
               </button>
                <a matLine routerLink="/tester/tester-home"> Menu Principal </a>
            </mat-list-item>
            <mat-list-item>
                <button mat-icon-button>
                    <i class="far fa-plus-square"></i>
                </button>
                <a matLine routerLink="/create-project"> Crear proyecto </a>
            </mat-list-item>
            
            <mat-list-item>
                <button mat-icon-button>
                    <i class="fas fa-vial"></i>
                </button>
                <a matLine routerLink="/tester/tester-historyTest"> Historial de pruebas </a>
            </mat-list-item>
            <mat-list-item>
                <button mat-icon-button>
                    <i class="fas fa-vial"></i>
                </button>
                <a matLine routerLink="/tester/historial-errors"> Historial de errores </a>
            </mat-list-item>
            <mat-list-item>
                <button mat-icon-button>
                    <i class="fas fa-bomb"></i>
                </button>
                <a matLine routerLink="/tester/tester-report"> Reportar Error </a>
            </mat-list-item>
            <mat-list-item>
                <button mat-icon-button>
                    <i class="fas fa-edit"></i>
                </button>
                <a matLine routerLink="/tester/edit"> Editar tareas </a>
            </mat-list-item>
            <mat-list-item>
                <button mat-icon-button>
                    <i class="fas fa-arrow-right"></i>
                </button>
                <a matLine routerLink="/tester/hw-list"> Tareas terminadas </a>
            </mat-list-item>
            <mat-list-item>
                <button mat-icon-button>
                    <i class="fas fa-bell"></i>
                </button>
                <a matLine routerLink="/developer/notification"> Notificaciones </a>
            </mat-list-item>
            <mat-list-item>
                <button mat-icon-button>
                    <i class="far fa-eye"></i>
                </button>
                <a matLine routerLink="/developer/hw"> Ver tareas </a>
            </mat-list-item>
            <mat-list-item style="margin-top: 5rem;">
                <button mat-icon-button>
                    <i class="fas fa-door-open" style="color: #ffb142;"></i>
                </button>
                <a matLine routerLink="/login" style="color: #ffb142;" (click)="cerrar()"> Cerrar Sesión </a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="background-color: white; color: black; height: 100rem; width: 100%;">
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>