<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [opened]="toggleside" [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
            <mat-list-item routerLink="/crear-perfil" style="margin-top: 20px; margin-right: 80px;">
                <button mat-icon-button>
                    <button mat-icon-button>
                        <i class="fas fa-user-circle"></i>
                    </button>
                </button>
                <a matLine> Angel Catedral </a>
            </mat-list-item>

            <mat-list-item style="margin-top: 20px; margin-right: 80px;">
                <mat-form-field appearance="fill" style="height: 100%; min-width: 100%;">
                    <mat-label>Cambiar de proyecto</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-list-item>

            <mat-list-item routerLink="/home/tester-home" style="margin-top: 20px; margin-right: 80px;">
                <button mat-icon-button>
                    <mat-icon>info</mat-icon>
                </button>
                <a matLine > Menu Principal </a>
            </mat-list-item>

            <mat-list-item matLine routerLink="/home/crear-proyecto">
                <button mat-icon-button>
                    <i class="far fa-plus-square"></i>
                </button>
                <a > Crear proyecto </a>
            </mat-list-item>

            <mat-list-item routerLink="/home/historial-errors">
                <button mat-icon-button>
                    <i class="fas fa-vial"></i>
                </button>
                <a matLine > Historial de errores </a>
            </mat-list-item>
            <mat-list-item  routerLink="/home/tester-report">
                <button mat-icon-button>
                    <i class="fas fa-bomb"></i>
                </button>
                <a matLine> Reportar Error </a>
            </mat-list-item>
            <mat-list-item routerLink="/login" style="margin-top: 5rem;">
                <button mat-icon-button>
                    <i class="fas fa-door-open" style="color: #ffb142;"></i>
                </button>
                <a matLine  style="color: #ffb142;" (click)="cerrar()"> Cerrar Sesión </a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="background-color: white; color: black; height: 100vh; width: 100%;">
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>