<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [opened]="toggleside" [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <div class="header">
            <div class="bug">Bug</div><div class="off mr-2">off</div>
            <img src="../../../../assets/imgs/sb-icon-logo.png" alt="logo" width="50px">
        </div>
        <h3 class="m-0 ml-2 p-0" style="font-weight: bold;">Usuario</h3>
        <div class="divider"></div>
        <mat-nav-list>
            <mat-list-item routerLink="/app/usuario/perfil" style="margin-right: 80px;">
                <button mat-icon-button>
                    <button mat-icon-button>
                        <i class="fas fa-user-circle"></i>
                    </button>
                </button>
                <a matLine> @{{ localsession.user_name }} </a>
            </mat-list-item>
            <mat-list-item matLine routerLink="/app/usuario/crear-proyecto" class="first-item">
                <button mat-icon-button>
                    <i class="fas fa-plus-square"></i>
                </button>
                <a matLine > Crear proyecto </a>
            </mat-list-item>
            
            <h3 class="m-0 ml-2 p-0" style="font-weight: bold;">{{area}}</h3>
            <div class="divider"></div>

            <mat-list-item matLine [routerLink]="principalRoute">
                <button mat-icon-button>
                    <i class="fas fa-home" aria-hidden="true"></i>
                </button>
                <a matLine > Pantalla inicial </a>
            </mat-list-item>

            <mat-list-item routerLink="/app/tester/lista-errores" *ngIf="visiblecomponent == 3">
                <button mat-icon-button>
                    <i class="fas fa-history"></i>
                </button>
                <a matLine > Historial de errores </a>
            </mat-list-item>
            <mat-list-item  routerLink="/app/tester/reportar-error" *ngIf="visiblecomponent == 3">
                <button mat-icon-button>
                    <i class="fas fa-bomb"></i>
                </button>
                <a matLine> Reportar Error </a>
            </mat-list-item>
            <mat-list-item  routerLink="/app/lider/editar-proyecto" *ngIf="visiblecomponent == 1">
                <button mat-icon-button>
                    <i class="fas fa-edit"></i>
                </button>
                <a matLine> Editar proyecto </a>
            </mat-list-item>
            <mat-list-item  routerLink="/app/lider/gestionar-proyecto" *ngIf="visiblecomponent == 1">
                <button mat-icon-button>
                    <i class="fas fa-business-time"></i>
                </button>
                <a matLine> Gestionar proyecto </a>
            </mat-list-item>
            <mat-list-item  routerLink="/app/desarrollador/errores-asignados" *ngIf="visiblecomponent == 2">
                <button mat-icon-button>
                    <i class="fas fa-tasks"></i>
                </button>
                <a matLine> Errores asgiandos </a>
            </mat-list-item>
            <mat-list-item  routerLink="/app/desarrollador/historial-errores" *ngIf="visiblecomponent == 2">
                <button mat-icon-button>
                    <i class="fas fa-history"></i>
                </button>
                <a matLine> Historial errores </a>
            </mat-list-item>
            <mat-list-item  (click)="cerrar()" style="position: absolute;bottom: 0;">
                <button mat-icon-button>
                    <i class="fas fa-door-closed" style="color: #ffb142;"></i>
                </button>
                <a matLine  style="color: #ffb142;"> Cerrar Sesión </a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="background-color: white; color: black; height: 90vh; width: 100%;">
            <router-outlet>
                <ngb-toast *ngIf="activeToast" class="mb-2 mr-2" style="position: fixed; bottom: 0;right: 0; width: 300px; background-color: #fcb207;" [autohide]=false (hidden)="activeToast=false">
                    <ng-template ngbToastHeader>
                        <img src="../../../../assets/imgs/sb-icon-logo.png" width="16" height="16" />
                        <strong class="mx-1">Bugoff</strong>{{notificationData.fecha_de_notificacion | date:'short'}}
                    </ng-template>
                    {{notificationData.message}}
                </ngb-toast>
            </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>